<div>Đây là Quản lý sách</div>
<div>
<div class="arrange-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book}}</mat-card-title>
        <mat-card-subtitle>{{type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img.freepik.com/premium-vector/education-logo-icon-template-open-book-illustration_487414-634.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
        Nội dung của tiểu thuyết
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>BUY</button>
        <button mat-button>WISHLIST</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book}}</mat-card-title>
        <mat-card-subtitle>{{type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img.freepik.com/premium-vector/education-logo-icon-template-open-book-illustration_487414-634.jpg" alt="Photo of a Book" class="image">
        <mat-card-content>
        <p>
        Nội dung của tiểu thuyết
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>BUY</button>
        <button mat-button>WISHLIST</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book}}</mat-card-title>
        <mat-card-subtitle>{{type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img.freepik.com/premium-vector/education-logo-icon-template-open-book-illustration_487414-634.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
        Nội dung của tiểu thuyết
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>BUY</button>
        <button mat-button>WISHLIST</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="arrange-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book}}</mat-card-title>
        <mat-card-subtitle>{{type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img.freepik.com/premium-vector/education-logo-icon-template-open-book-illustration_487414-634.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
        Nội dung của tiểu thuyết
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>BUY</button>
        <button mat-button>WISHLIST</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book}}</mat-card-title>
        <mat-card-subtitle>{{type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img.freepik.com/premium-vector/education-logo-icon-template-open-book-illustration_487414-634.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
        Nội dung của tiểu thuyết
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>BUY</button>
        <button mat-button>WISHLIST</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>